body{
  background-image: url(../images/dice_back.jpg);
}
.container{
  padding-left: 20%;
  position: absolute;
  left: 25%;
  top: 5%;
  background-color: white;
  height: 98%;
  width: 50%;
}
.dice-image{
  width: 80px ;
  height: 80px;
  border-radius: 8%;
  background: aliceblue;
  padding: 5px;
  box-shadow: 0 3px 8px;
  transition: transform 0.3s;
}
